.text-title {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.text-paragrafo {
  font-size: 20px;
  font-weight: var(--font-weight);
  line-height: 32px;
}

.tokyo-content {
  margin-bottom: 32px;
}

.tokyo-content .section-title {
  margin-bottom: 56px;
}

.tokyo-content .content-chegada {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
  margin: 0 20px;
}

.tokyo-content .content-chegada .text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h3 {
  margin: 0;
}

.tokyo-content .content-chegada .img-mobile {
  display: block;
}

.tokyo-content .content-chegada .img-desktop {
  display: none;
}

.tokyo-destino .destinos-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0px 20px;
}

.tokyo-destino .destinos-content img.blog-img-mobile {
  display: block;
}

.tokyo-destino .destinos-content img.blog-img-tablet {
  display: none;
}

.tokyo-destino .destinos-content img.blog-img-desktop {
  display: none;
}

/* Posts */

.posts-title {
  width: 312px;
  margin-bottom: 32px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 312px;
}

.posts .item-posts {
  height: 737px;
  margin: 0px 20px;
  margin-bottom: 40px;
}

.posts .item-posts .img {
  height: 300px;
}

.posts .item-posts .img-osaka {
  background: url("../img/post-osaka-mobile.jpg") no-repeat;
  background-size: cover;
}

.posts .item-posts .img-hiroshima {
  background: url("../img/post-hiroshima-mobile.png") no-repeat;
  background-size: cover;
}

.posts .item-posts .img-kyoto {
  background: url("../img/post-kyoto-mobile.png") no-repeat;
  background-size: cover;
}

.post-title {
  font-size: 32px;
  font-weight: var(--title-weight);
  margin-top: 16px;
  margin-bottom: 8px;
}

.post-paragraph {
  font-size: 20px;
  font-weight: var(--font-weight);
  line-height: 32px;
  margin-bottom: 16px;
}

.posts .item-posts .button {
  min-width: 272px;
}

@media screen and (min-width: 768px) {
  .tokyo-content .content-chegada {
    flex-direction: row;
    width: 648px;
    margin: 0;
  }

  .tokyo-content .content-chegada img {
    width: 312px;
    height: 360px;
  }

  .tokyo-content .content-chegada img.img-mobile {
    display: block;
  }

  .tokyo-content .content-chegada img.img-desktop {
    display: none;
  }

  .tokyo-destino .destinos-content {
    margin: 0px;
  }

  .tokyo-destino .destinos-content img.blog-img-mobile {
    display: none;
  }

  .tokyo-destino .destinos-content img.blog-img-tablet {
    display: block;
  }

  .tokyo-destino .destinos-content img.blog-img-desktop {
    display: none;
  }

  /* posts */

  .posts {
  width: 648px;
  /* gap: 40px; */
}

.posts .item-posts {

  margin-bottom: 0;
}

/* Olhar o tamanhos de cada article para colocar todos em altura que condiz com a o tamanho dos arquivos e que não ultrapasser e nem sobre espaço */

.posts .item-posts .img-osaka {
  background: url("../img/post-osaka-tablet.png") no-repeat;
  background-size: cover;
}

.posts .osaka {
  height: 571;
}

.posts .item-posts .img-hiroshima {
  background: url("../img/post-hiroshima-tablet.png") no-repeat;
  background-size: cover;
}

.posts .item-posts .img-kyoto {
  background: url("../img/post-kyoto-tablet.png") no-repeat;
  background-size: cover;
}
}

@media screen and (min-width: 1024px) {
  .tokyo-content .content-chegada {
    width: 900px;
  }

  .tokyo-content .content-chegada img {
    width: 380px;
    height: 360px;
  }

  .tokyo-content .content-chegada img.img-mobile {
    display: none;
  }

  .tokyo-content .content-chegada img.img-desktop {
    display: block;
  }

/* posts */

.posts {
  width: 900px;
  gap: 40px;
}

.posts .item-posts {
  height: 543px;
  margin-bottom: 0;
}

.posts .item-posts header {
  padding: 0;
}

.posts .item-posts .img-osaka {
  background: url("../img/post-osaka-1024.png") no-repeat;
  background-size: cover;
}

.posts .item-posts .img-hiroshima {
  background: url("../img/post-hiroshima-1024.png") no-repeat;
  background-size: cover;
}

.posts .item-posts .img-kyoto {
  background: url("../img/post-kyoto-1024.png") no-repeat;
  background-size: cover;
}
}

@media screen and (min-width: 1440px) {
  .blog-hero {
    margin-bottom: 104px;
  }

  .tokyo-content .content-chegada {
    width: 1200px;
  }

  .tokyo-content .content-chegada .text {
    width: 588px;
  }

  .tokyo-content .content-chegada img.img-mobile {
    display: none;
  }

  .tokyo-content .content-chegada img.img-desktop {
    background: no-repeat;
    display: block;
    width: 588px;
  }

  .tokyo-destino .destinos-content {
    gap: 48px;
  }

  .tokyo-destino .destinos-content img.blog-img-mobile {
    display: none;
  }

  .tokyo-destino .destinos-content img.blog-img-tablet {
    display: none;
  }

  .tokyo-destino .destinos-content img.blog-img-desktop {
    display: block;
  }

  /* posts */

  .posts {
  width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.posts .item-posts {
  width: 368px;
  height: 755px;
  margin: 0;
}

  .posts .item-posts .img-osaka {
  background: url("../img/post-osaka-desktop.png") no-repeat;
  background-size: cover;
}

.posts .item-posts .img-hiroshima {
  background: url("../img/post-hiroshima-desktop.png") no-repeat;
  background-size: cover;
}

.posts .item-posts .img-kyoto {
  background: url("../img/post-kyoto-desktop.png") no-repeat;
  background-size: cover;
}


}


