header {
  background-color: var(--backgrond-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navegation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--backgrond-tertiary-color);
}

nav {
  display: none;
}

.list-links {
    list-style: none;
}

.list-links li {
    margin: 16px 0;
}

.list-links li a {
    color: var(--background-primary-color);
    text-decoration: none;
    font-weight: var(--menu-text-weight);
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .navegation-menu label {
        display: none;
    }

    .navegation-menu nav {
        display: block;
        width: 467px;
    }

    .navegation-menu ul {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .navegation-menu li {
        margin: 0;
    }
}