.hero .hero-img,
.bottom-hero .hero-img,
.pacotes-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url("../img/hero-mobile.jpg") no-repeat;
  background-size: cover;
}

.bottom-hero,
.pacotes-hero {
  width: 100%;
  margin-bottom: 0;
}

.bottom-hero .hero-img {
  background: url("../img/Imagem-pre-rodape-mobile.png") no-repeat;
  background-size: cover;
}

.pacotes-hero {
  margin: 0 auto 88px;
}

.pacotes-hero .hero-img {
  background: url("../img/imagem-pacotes-de-viagens-mobile.jpg") no-repeat;
  background-size: cover;
  height: 460px;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.pacotes-hero .hero-content {
  width: 312px;
  height: 330px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 35px;
}

.pacotes-hero .hero-content h2 {
  word-spacing: -5px;
  margin: 0;
  color: var(--text-secunddary-color);
  font-size: 48px;
  font-weight: var(--title-weight);
  line-height: 100%;
  padding: 40px 24px 14px 24px;
  gap: 16px;
}

.pacotes-hero .hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  margin: 0;
  border: 0;
  margin-left: 24px;
}

.pacotes-hero .hero-content p {
  width: 312px;
  height: 160px;
  font-size: 20px;
  line-height: 32px;
  text-align: justify;
  color: var(--text-secunddary-color);
  padding: 10px 24px 40px 24px;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url("../img/hero-tablet.jpg") no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 400px;
    background: url("../img/imagem-pre-rodape-tablet-desktop.png") no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  .pacotes-hero .hero-img {
    background: url("../img/imagem-pacoter-de-viagens-tablet.png") no-repeat;
    background-size: cover;
    height: 620px;
  }

  .pacotes-hero .hero-content h2 {
    width: 579px;
    text-align: left;
    padding-bottom: 14px;
  }

  .pacotes-hero .hero-content hr {
    margin-left: 0;
    margin-right: 51%;
  }

  .pacotes-hero .hero-content p {
    width: 579px;
    height: 303px;
    padding: 0;
    margin-top: 16px;
  }

  .pacotes-hero {
    text-align: center;
  }

  .pacotes-hero .hero-content {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
  }

  .pacotes-hero .hero-content .conteudo-hero h2 {
    text-align: left;
    padding: 40px 24px 15px 0;
  }

  .pacotes-hero .hero-content p {
    font-size: 32px;
    width: 579px;
    height: 192px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url("../img/hero-desktop.jpg") no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background: url("../img/imagem-pre-rodape-tablet-desktop.png") no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }

  .pacotes-hero .hero-content hr {
    margin-left: 0;
    margin-right: 39%;
  }

  .pacotes-hero .hero-content {
    align-items: unset;
  }

  .pacotes-hero .hero-content .conteudo-hero {
    margin-left: 100px;
  }

  .pacotes-hero .hero-content h2 {
    padding-left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .pacotes-hero .hero-img {
    background: url("../img/imagem-pacotes-de-viagens-desktop.png") no-repeat;
    background-size: cover;
    height: 620px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
