@charset "UTF-8";


:root {
    --background-primary-color: #ffffff;
    --background-secundary-color: #f5f5f5;
    --backgrond-tertiary-color: #0000;

    --button-primary-color: #8F0101;
    --button-secundary-color: #b81515;

    --text-primary-color: #222222;
    --text-secunddary-color: #FFFFFF;
}

/* RESET CSS */
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
