.testimonial-conteiner {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.testimonial-conteiner header p {
    font-size: 16px;
    line-height: 28px;
}

.testimonial-conteiner footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.testimonial-conteiner footer img {
    width: 86px;
    height: 86px;
}

.testimonial-conteiner footer .profile-content h4 {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weight);
    margin: 0 0 8px;
}

.testimonial-conteiner footer .profile-content .rating .star {
    font-size: 32px;
    color: var(--secondary-color);
    line-height: 32px;
}


@media screen and (min-width: 1440px) {
    .testimonial-conteiner {
        flex-direction: row;
    }
}